div.inspirations .inspirations__img{
    width: 10vw ;
    margin:1rem 4rem;
  
}
div.inspirations div.inspirations__block{
    display: inline-block;
    border: solid 2px lightgray;
    margin: 1em;
    padding: 1rem 0;
    background-color:lightgray;

}

div.inspirations div.inspirations__block div{
    display: flex;
    justify-content: center;
}

div.inspirations div.inspirations__block p{
    display: table-cell;
    padding: 1rem;
}
section.container{
    padding-top: 5rem;
}