// Desktop
//Pour mettre un bouton avec une border en dégradé :
// <button class="input-nav"><span>Texte</span></button>

.header__shoe {
  button {
    @include btn;
  }
  button::after {
    @include btnAfter;
  }
}

.input-nav.-orange {
  background: $degradeJauneRouge;
  border-radius: 0;
  span {
    border-radius: 0;
  }
}

.input-nav.-decouvrir {
  background: $violet;
  padding: 1px;
  span {
    background: $violet;
    color: $blanc;
    &:hover {
      background-color: $violetfonce;
    }
  }
}
