// Desktop
//Pour mettre un bouton avec une border en dégradé :
// <button class="input-nav"><span>Texte</span></button>

.header__shoe {
  button {
    @include btn;
  }
  button::after {
    @include btnAfter;
  }
}

.input-nav.-orange {
  
  @include btnOrange;
  span {
    display: flex;
    img{
      margin-right: 1em;
    }
  }
  
  &::after{
      @include btnAfterOrange;
  }
  margin-bottom: 2em;
}

.input-nav.-decouvrir {
  background: $violet;
  padding: 1px;
  span {
    background: $violet;
    color: $blanc;
    &:hover {
      background-color: $violetfonce;
    }
  }
}
.input-nav.-centrer{
    margin-top: 3em;
    margin-left: auto;
   margin-right: auto;
   display: block;
}
