h1,h2,h3 {
  font-family: $fontFamilyTitre;
}
h1#titre_h1 {
  font-family: $fontFamilyTitre;
  font-weight: normal;
  text-align: center;
  margin: 0px 10px;
  font-size: $fontSizeH1;
}

#titre_page {
  display: flex;
  align-items: center;
  padding-top: 8rem;
  justify-content: center;
}

.trait_titre_h1 {
  height: 1px;
  width: 50px;
  background-color: #000;
}